@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 4% 4%;
    --card: 240 10% 98%;
    --card-foreground: 240 4% 4%;
    --popover: 240 10% 98%;
    --popover-foreground: 240 4% 4%;
    --primary: 240 3% 17%;
    --primary-foreground: 240 5% 83%;
    --secondary: 240 4% 92%;
    --secondary-foreground: 240 3% 17%;
    --muted: 240 4% 82%;
    --muted-foreground: 240 4% 38%;
    --accent: 240 4% 92%;
    --accent-foreground: 240 3% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 82%;
    --input: 240 4% 92%;
    --ring: 240 3% 17%;
    --chart-1: 240 3% 17%;
    --chart-2: 240 4% 82%;
    --chart-3: 240 4% 59%;
    --chart-4: 240 3% 38%;
    --chart-5: 240 3% 17%;
    --sidebar-background: 240 3% 17%;
    --sidebar-foreground: 240 10% 98%;
    --sidebar-primary: 240 4% 59%;
    --sidebar-primary-foreground: 240 10% 98%;
    --sidebar-accent: 240 4% 25%;
    --sidebar-accent-foreground: 240 10% 98%;
    --sidebar-border: 240 4% 25%;
    --sidebar-ring: 240 4% 59%;
    --radius: 1rem;
  }
 
  .dark {
    --background: 240 3% 10%;
    --foreground: 240 5% 83%;
    --card: 240 3% 17%;
    --card-foreground: 240 5% 83%;
    --popover: 240 3% 10%;
    --popover-foreground: 240 5% 83%;
    --primary: 240 5% 83%;
    --primary-foreground: 240 3% 17%;
    --secondary: 240 4% 25%;
    --secondary-foreground: 240 5% 83%;
    --muted: 240 4% 25%;
    --muted-foreground: 240 4% 59%;
    --accent: 240 4% 25%;
    --accent-foreground: 240 5% 83%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 240 5% 83%;
    --chart-1: 240 5% 83%;
    --chart-2: 240 3% 17%;
    --chart-3: 240_3%_38%;
    --chart-4: 240 4% 82%;
    --chart-5: 240 10% 98%;
    --sidebar-background: 240 3% 10%;
    --sidebar-foreground: 240 5% 83%;
    --sidebar-primary: 240 5% 83%;
    --sidebar-primary-foreground: 240 3% 10%;
    --sidebar-accent: 240 4% 20%;
    --sidebar-accent-foreground: 240 5% 83%;
    --sidebar-border: 240 4% 20%;
    --sidebar-ring: 240 5% 83%;
    --radius: 1rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
