@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 92%;
    --foreground: 0 0% 4%;
    --card: 240 8% 97%;
    --card-foreground: 0 0% 4%;
    --popover: 240 8% 97%;
    --popover-foreground: 0 0% 4%;
    --primary: 0 0% 38%;
    --primary-foreground: 240 8% 97%;
    --secondary: 0 1% 82%;
    --secondary-foreground: 0 0% 17%;
    --muted: 0 1% 82%;
    --muted-foreground: 0 0% 59%;
    --accent: 0 0% 82%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 1% 82%;
    --input: 0 1% 87%;
    --ring: 0 0% 38%;
    --chart-1: 0 0% 38%;
    --chart-2: 0 1% 82%;
    --chart-3: 0 0% 59%;
    --chart-4: 0 0% 38%;
    --chart-5: 0 0% 17%;
    --sidebar-background: 0 0% 17%;
    --sidebar-foreground: 240 8% 92%;
    --sidebar-primary: 0 0% 59%;
    --sidebar-primary-foreground: 240 8% 92%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 240 8% 92%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 0 0% 59%;
  }
 
  .dark {
    --background: 0 0% 4%;
    --foreground: 240 8% 92%;
    --card: 0 0% 10%;
    --card-foreground: 240 8% 92%;
    --popover: 0 0% 4%;
    --popover-foreground: 240 8% 92%;
    --primary: 0 0% 59%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 240 8% 92%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 59%;
    --accent: 0 0% 17%;
    --accent-foreground: 240 8% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 17%;
    --input: 0 0% 17%;
    --ring: 0 0% 59%;
    --chart-1: 0 0% 59%;
    --chart-2: 0 0% 17%;
    --chart-3: 0 0% 38%;
    --chart-4: 0 0% 82%;
    --chart-5: 240 8% 92%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 240 8% 92%;
    --sidebar-primary: 0 0% 59%;
    --sidebar-primary-foreground: 240 8% 92%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 240 8% 92%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 0% 59%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
